<h1>Maps</h1>

<br>

<div class="input">
  <input class="origin">Origin</input>
  <br>
  <input class="destination">Destination</input>
  <br>
  <input class="arrival_time">Arrival Time</input>
  <br>
  <button class="search">Search</button>
</div>

<br>

<div id="map"></div>
